body {
	background-color:white;
}
h1 {
	color:#BD1900;
	font-family: helvetica;
}
h2 {
	font-family: helvetica;
}
h3 {
	font-family: helvetica;
}
.questions {
	color: #325C08;
	font-size: 20px;
}
.frontpageheader {
	text-align: center;
}